In [10]:
x="vala vivek"
print(x)

vala vivek

In [9]:
x=["john","wick",1,2,3]
print(x)

['john', 'wick', 1, 2, 3]

In [11]:
x=3.4
print(x)

3.4

In [12]:
x=("john","smith","dave")
print(x)

('john', 'smith', 'dave')

In [13]:
var1=''
var2='[ds,ml,python]'
var3=['ds','ml','python']
var4=1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [15]:
x = 12
y = 3

print(x / y)

4.0

In [16]:
x = 12
y = 3

print(x % y)

0

In [17]:
x = 12
y = 3

print(x ** y)

1728

In [18]:
x = 12
y = 3

print(x // y)

4

In [19]:
x = ["apple", "banana", "cherry",1,2,3,3.5,5+6j]
for i in x:
    print(i,type(i))

apple <class 'str'>
banana <class 'str'>
cherry <class 'str'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
3.5 <class 'float'>
(5+6j) <class 'complex'>

In [20]:
a = int(input())
b = int(input())

count = 0
while a % b == 0:
    a = a/b
    count += 1
if (count > 0):
    print("num a is divisible by num b is", count, "times")
else:
    print("not divisible by b")

 20
 2

num a is divisible by num b is 2 times

In [21]:
x=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in x:
    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24

In [22]:
print("example of mutable data types")
list=[1,2,3,4,5]
print(list)
list[2]=300
print(list)
list.append(6)
print(list)

example of mutable data types
[1, 2, 3, 4, 5]
[1, 2, 300, 4, 5]
[1, 2, 300, 4, 5, 6]

In [24]:
print("example of immutable data types")
a="vivek"
print(a)
a+=" vala"
print(a)
a[0]="b"
print(a)

example of immutable data types
vivek
vivek vala

TypeError: 'str' object does not support item assignment